// ACCORDION
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.accordion {
    transition:all 0.125s;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.accordion-container {
    &.default {

        .accordion {
            padding: 15px;
            background-color: $white;
            border: 1px solid darken($light, 10%);
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(.active) {
                margin-bottom: 5px;
            }

            &.active {
                &:after {
                    color: $white;
                }
            }

            @if $radius {
                border-radius: $border-radius;
            }
        }

        .active,
        .accordion:hover {
            border-color: $primary;
            color: $white;
            background: $primary;

            &:after {
                color: $white;
            }
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            font-size: 20px;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        .panel-box {
            border: 1px solid darken($light, 10%);
            padding: 15px;
            margin-bottom: 5px;
            margin-top: 5px;
            background-color: white;

            @if $radius {
                border-radius: $border-radius;
            }
        }
    }

    .panel {
        transition: max-height 0.2s ease-out;
        max-height: 0;
        overflow: hidden;
    }


}