// BREADCRUMB
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.breadcrumb {
    list-style: none;
    padding: 15px 20px;
    margin: 0;
    background-color: $light;

    li {
        list-style: none;
        display: inline;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: $breadcrumb-divider;
        font-family: fontAwesome;
    }

    @each $color,
    $value in $colors {
        @if ($color !='white') and ($color !='light') {
            &.#{$color} {
                background: $value;
                color: white;

                a {
                    color: white;
                }

                li+li:before {
                    color: white;
                }
            }
        }

        @if ($color=='light') {

            &.#{$color} {
                background: $value;
                color: black;

                a {
                    color: white;
                }

                li+li:before {
                    color: black;
                }
            }

        }
    }

}