// CARDS
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
    position: relative;
    max-width: 100%;
    background-color: #fff;
    background-clip: border-box;
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    flex-direction: column;

    @if $radius {
        border-radius: $border-radius;
    }

    .card-header {
        background-color: white;
        padding: 10px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, .125);

        .card-title {
            margin: 0;
        }
    }

    .card-body {
        flex: 1 1 auto;
        padding: 15px;
        background-color: white;
    }

    .card-footer {
        background-color: white;
        padding: 10px 15px;
        border-top: 1px solid rgba(0, 0, 0, .125);
    }

}

.equal-cards .card {
    height: 100%;
}