// UTILITIES
// ––––––––––––––––––––––––––––––––––––––––––––––––––

[disabled] {
    user-select: none !important;
    pointer-events: none !important;
    opacity: 0.5;
}

.overflow-unset {
    overflow: unset !important;
}


// DISPLAY
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

// FLEXBOX
[class*="flex"],
.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important
}

.flex-wrap {
    flex-wrap: wrap !important;
}

// JUSTIFY
.fj-start {
    justify-content: flex-start !important;
}

.fj-center {
    justify-content: center !important;
}

.fj-end {
    justify-content: flex-end !important;
}

.fj-between {
    justify-content: space-between !important;
}

.fj-around {
    justify-content: space-around !important;
}

.fj-evenly {
    justify-content: space-evenly !important;
}

.fj-baseline {
    justify-content: baseline !important;
}

// ALIGN
.fa-start {
    align-items: flex-start !important;
}

.fa-center {
    align-items: center !important;
}

.fa-end {
    align-items: flex-end !important;
}

.fa-stretch {
    align-items: stretch !important
}

// FLEX BOTH
.flex-center-center {
    justify-content: center !important;
    align-items: center !important;
}


// FLOAT
.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.clearfix {
    clear: both;
    float: none !important;
}


// BACKGROUND COLOR
@each $color,
$value in $colors {
    .bg-#{$color} {
        background-color: $value !important;
    }
}

.bg-none {
    background: none !important;
}


// FONT COLOR
@each $color,
$value in $colors {
    .text-#{$color} {
        color: $value !important;
    }
}


// WIDTH
.w-100 {
    width: 100% !important;
}

// HEIGHT
.h-100{
    height: 100%;
}

// PADDING
.p-0 {
    padding: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

@for $num from 1 to 11 {

    .p-#{$num} {
        padding: $default-padding * $num !important;
    }

    .py-#{$num} {
        padding-top: $default-padding * $num !important;
        padding-bottom: $default-padding * $num !important;
    }

    .px-#{$num} {
        padding-left: $default-padding * $num !important;
        padding-right: $default-padding * $num !important;
    }

    .pl-#{$num} {
        padding-left: $default-padding * $num !important;
    }

    .pr-#{$num} {
        padding-right: $default-padding * $num !important;
    }


    .pt-#{$num} {
        padding-top: $default-padding * $num !important;
    }


    .pb-#{$num} {
        padding-bottom: $default-padding * $num !important;
    }



}




// MARGIN
.mx-auto {
    margin: 0 auto !important;
}

.m-0 {
    margin: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

@for $num from 1 to 11 {

    .m-#{$num} {
        margin: $default-padding * $num !important;
    }

    .my-#{$num} {
        margin-top: $default-padding * $num !important;
        margin-bottom: $default-padding * $num !important;
    }

    .mx-#{$num} {
        margin-left: $default-padding * $num !important;
        margin-right: $default-padding * $num !important;
    }

    .ml-#{$num} {
        margin-left: $default-padding * $num !important;
    }

    .mr-#{$num} {
        margin-right: $default-padding * $num !important;
    }


    .mt-#{$num} {
        margin-top: $default-padding * $num !important;
    }


    .mb-#{$num} {
        margin-bottom: $default-padding * $num !important;
    }



}



// FONT SIZES
.display-1 {
    font-size: $display-1;
}

.display-2 {
    font-size: $display-2;
}

.display-3 {
    font-size: $display-3;
}

.display-4 {
    font-size: $display-4;
}


// FONT WEIGHTS
.font-normal {
    font-weight: normal !important;
}

.font-bold {
    font-weight: bold !important;
}

.weight-100 {
    font-weight: 100 !important;
}

.weight-200 {
    font-weight: 200 !important;
}

.weight-300 {
    font-weight: 300 !important;
}

.weight-400 {
    font-weight: 400 !important;
}

.weight-500 {
    font-weight: 500 !important;
}


.weight-600 {
    font-weight: 600 !important;
}


.weight-700 {
    font-weight: 700 !important;
}

.weight-800 {
    font-weight: 800 !important;
}

.weight-900 {
    font-weight: 900 !important;
}


// FONT HELPERS
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.lowercase {
    text-transform: lowercase !important;
}

.capitalize {
    text-transform: capitalize !important;
}


// BORDER
.b-none {
    border: none !important;
}

.bt-none {
    border-top: none !important;
}

.bb-none {
    border-bottom: none !important;
}

.bl-none {
    border-left: none !important;
}

.br-none {
    border-right: none !important;
}



// BORDER RADIUS
.radius-none {
    border-radius: 0 !important;
}


// BOX SHADOW
.shadow {
    transition: $transition;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    }
}

.shadow-1 {
    transition: $transition;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);

    &:hover {
        box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
    }
}

.shadow-none {
    box-shadow: none !important;
}

// LIST
.list-unstyled {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

// IMAGES
.img-fluid {
    width: 100%;
}

.img-rounded {
    border-radius: 5px;
}

.img-circle {
    border-radius: 50%;
}

.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

// ROUNDED
.rounded {
    border-radius: 40px !important;
}

// BACKGROUND IMAGES
.bg-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-contain {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.bg-fixed {
    background-attachment: fixed;
}