// TABS
// ––––––––––––––––––––––––––––––––––––––––––––––––––


.flat-tabs {

  .tab-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;


    .tab-link {
      outline: none;
      border: none;
      display: block;
      padding: 10px 15px;
      cursor: pointer;
      background: $primary;
      color: white;
      position: relative;

      &:hover,
      &.active {
        background: darken($primary, 5%);
        box-shadow: inset 0 -4px 0 0 darken($primary, 10%);
      }
    }
  }

  .tab-container {
    padding: 15px 0;
  }


  .tab-content {
    display: none;
    padding: 6px 12px;
    animation: fadeEffect 1s;

    &.active {
      display: block !important;
    }

    .tab-close {
      cursor: pointer;
      opacity: 0.5;
      font-size: 16px;

      &:hover {
        opacity: 1;
      }
    }
  }

}


@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}